.block-cat {
  // padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
  }
}

.block-cat__item {
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    margin: 1px 0 17px 0;
  }
}

.block-cat__text {
  appearance: none;
  flex-grow: 1;
  padding: 11px 0 11px 14px;
  margin-left: 14px;

  &:hover {
    border-color: $light-grey;
  }

  &:focus {
    border-color: red;
  }

  &:invalid {
    border: 2px solid red;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 0 14px 14px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 0 16px 14px;
  }
}

.block-cat__label {
  display: flex;
  justify-content: center;
  align-items: center;
}
