.block-cat {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 53px;
  }
}

.block-cat__item {
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    margin: 1px 0 17px 0;
  }
}

.block-cat__text {
  outline: none;
  appearance: none;
  flex-grow: 1;
  padding: 11px 0 13px 15px;
  margin-left: 14px;
  border: 1px solid rgba(205, 205, 205, 0.5);

  &:hover {
    border-color: $light-grey;
  }

  &:focus,
  &:active {
    border-color: $black;
    box-shadow: inset 0 0 0 1px $black;
  }

  &:invalid {
    border-color: red;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 0 16px 17px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0 16px 14px;
  }
}

.block-cat__label {
  display: flex;
  justify-content: center;
  align-items: center;
}
