.block-cat {
  padding: 0;
  margin: 0;
}

.block-cat__item {
  margin: 0;
}

.block-cat__text {
  flex-grow: 1;
  padding: 11px;
  margin: 0 0 10px 15px;
}

.block-cat__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
