.case-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.case-list__item {
  padding-top: 14px;
  font-family: $Oswaldregular;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid $light-grey;
  border-radius: 5px;
}

.case-list__value {
  text-transform: uppercase;
  margin: 0 0 8px 0;
}

.case-list__index {
  background-color: $grey-special;
  padding: 0 10px;
  margin: 0 10px -15px;
  font-family: $Arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  width: 80px;
}
