.information__cat,
.information__programm,
.information__owner,
.information__comment,
.information__add {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid $grey-light-specialy;
  margin: 0;
  padding: 0;
}

.information__submit {
  width: 100%;

  @include btn;
  padding: 15px 0;
}

.information__question {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
