.instruction {
  padding: 25px 0 17px;
}

.instruction__title {
  font-family: $Oswaldregular;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.instruction__list {
  padding: 0;
  margin: 40px 0 0;
}

.instruction__text {
  font-family: $Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.instruction__item {
  list-style-type: none;
  margin-bottom: 28px;
  padding-left: 80px;
}
