.main-catalog {
  padding: 27px 0 35px;
}
.main-catalog__title {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0 0 41px 0;
  border-bottom: 1px solid rgba(205,205,205,.5);
}
.main-catalog__list {
  padding: 0;
  margin: 0;
}
