.page-header {
  font-family: $Oswaldregular;
  color: $black;
  background-color: $white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-header__logo {
  height: 38px;
  max-width: 190px;
  padding: 14px 20px 14px;
  border-bottom: 1px solid $grey-grey;
}
