.page-footers {
  @include container(20px, 20px, 320px);
  display: flex;
  flex-direction: column;
  background-color: $drop-grey;
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    @include container(30px, 30px, 768px);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    @include container(100px, 100px, 1440px);
  }
}

.page-footer__logo {
  height: 24px;
  max-width: 128px;
  align-self: center;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
  }
}

.page-footer__link {
  text-decoration: none;
  font-family: $arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $grey-dark;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0;
}

.page-footer__company-icon {
  width: 34px;
  height: 37px;
  fill: #666666;
}
