.programms {
  @include container-mobile;
}

.programms__thin-cat,
.programms__fat-cat {
  background-color: $drop-grey;
  padding: 20px;
}

.programms__thin-cat {
  margin-bottom: 20px;
}

.programms__title {
  font-family: $Oswaldmedium;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  margin: 10px 0 30px;
  padding-left: 70px;
  text-transform: uppercase;
}

.programms__text {
  font-family: $Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}

.programms__btn-thin-cat,
.programms__btn-fat-cat {
  text-decoration: none;
  font-family: $Oswaldmedium;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}
