
.promo {
  padding: 29px 20px 22px;
  background: url("../../img/index-background-mobile@1x.jpg") 0 0 no-repeat;
  background-size: contain;
}
.promo__title {
  margin: 0;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  text-align: center;
  margin-bottom: 25px;
}
.promo__description {
  margin: 0;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  margin-bottom: 29px;
}
.promo__choose-program {
  @include btn;
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
}

