.promo {
  text-align: center;
  padding-bottom: 23px;

  @include container(20px, 20px, 320px);
  padding-top: 27px;
  background: url("../../img/index-background-mobile@1x.jpg") 50% 0 no-repeat;

  @media (min-width: $tablet-width) {
    @include container(30px, 30px, 768px);
    background: $white;
    min-height: 600px;
  }

  @media (min-width: $desktop-width) {
    @include container(100px, 100px, 1440px);
    position: relative;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .promo::before {
    content: "";
    display: block;
    position: absolute;
    top: -90px;
    right: 0;
    width: 50%;
    height: 696px;
    background-color: $green-but;
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index-background-desktop@2x.jpg");
    }
  }
}

.promo__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    width: 500px;
    text-align: left;
  }
}

.promo__description {
  margin: 0;
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

.promo__choose-program {
  @include btn;
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 15px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-size: 20px;
    padding: 16px 27px;
  }
}

.promo__img {
  display: block;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 65%;
    left: 30%;
  }

  @media (min-width: $desktop-width) {
    top: 25%;
    left: 40%;
  }
}
